<html>
<head>
    <title>Waltz Login</title>
</head>
<body>
<div id="settings" data-app-id="{{app_id}}" data-redirect-url="{{url}}/clefCallback"></div>
<script type="text/javascript" src="https://clef.io/v3/clef.js"></script>
<script>
     var button = new ClefButton({
        el: settings
     });
     // just doing some filling stuff that we skip 
     // by not rendering the button
     button.body = document.body;
     button.buttonFrame = {};

     window.addEventListener('message', function(e) {
        if (e.origin == 'https://clef.io') {
            if (e.data && e.data.method == "overlayClose") {
                parent.postMessage({
                    method: "closeIFrame"
                }, '*');
            }
        }
        if (e.data && e.data.method == "loadClef") {
            button.overlayOpen();
        }
     })
</script>
</head>
